<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src= "https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black flex justify-center items-center ">

    <form action="home/" method="GET" class=" h-[450px] w-[350px]  text-center rounded-lg py-8 px-5 mt-[10%] border-2 border-gray-700 ">

        <h1 class="text-3xl text-orange-300 font-bold">Login</h1><br>
         
        <input type="email" placeholder="Enter your Userid" required name="Userid" class="h-[40px] w-[90%] bg-gray-500 p-2 text-white  rounded"><br><br><br>
        
        <input type="password" placeholder="Enter your Password" required name="Password" maxlength="5
        "  class="h-[40px] w-[90%] bg-transparent text-white border-2  p-2 rounded"><br><br>

        <a href="" class="text-blue-600 underline hover:text-blue-300">Reset Password</a><br><br>
        <button type="submit" class="h-[40px] w-[180px] bg-orange-300 text-xl font-bold rounded-lg mb-20 hover:bg-orange-400 ">login</button>

    </form>
    
</body>
</html>