<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{product}}
    <h1>Product Data</h1>
    {%if product%}
    <table border="1">
        <thead>
            <tr>
            <th>product id</th>
            <th>product name</th>
        </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{product.id}}</td>
            <td>{{product.product_name}}</td>
            </tr>
        </tbody>
    </table>
    <p>Data is coming</p>
    {%else%}
    <p>Data is not available</p>
    {%endif%}

  
</body>
</html>