<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="p-5 bg-gray-300">
    <h1 class="text-3xl font-bold text-center">Login form</h1>

    <form action="{%url 'submit'%}" method="POST" class=" bg-white p-10 mt-20 max-w-md">
        {% csrf_token %}
        <label for="">Name</label><br>
        <input type="text" placeholder="Enter your name" required><br><br>

        <label for="">email</label><br>
        <input type="email" placeholder="Enter your email" required><br><br>

        <label for="">password</label><br>
        <input type="password" required><br><br>

        <button type="sumbit" class="bg-gray-500 px-2 py-2 w-40 text-2xl">submit</button>
    </form>
    </div>

</body>
</html>